@use "sass:color";
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

$font: 'Fira Sans', sans-serif;

$color-bg--principal: #51C4D3;
$color-bg--secundari: #D8E3E7;
$color-bg--cap1: #132C33;
$color-font--cap1: white;
$color-bg--cap2: #126E82;
$color-font--cap2: white;
